<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <!-- Styles -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css' />

    <!-- Scripts -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js'></script>
  </head>
  <body>
    
    <%- body %>
    
  </body>
</html>
